{% extends "base.html" %}
{% block title %}Human Timelines{% endblock %}
{% block content %}

<h1 align="center">Timelines</h1>

<hr />

<div class="container-fluid">
  <div class="row">
    <div class="resizable_e" id="left-column">

      <h2>Pre-defined datasets
        {% if user.email == "markusrobertjonsson@gmail.com" %}  <!-- XXX Change to admin -->
          <!-- <a href="{{ url_for('views.update_predef') }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Update</a> -->
        {% endif %}
      </h2>

        <!-- <div class="hummingbird-treeview-converter" data-height="200px" data-scroll="true" data-id="_movies">
          <li id="item_1" data-id="Studio_1">Warner Bros.</li>
          <li id="item_2" data-id="Movie_1">-Goodfellas</li>
          <li id="item_3" data-id="Actor_1">--Robert De Niro</li>
          <li id="item_4" data-id="Actor_2">--Joe Pesci</li>
          <li id="item_5" data-id="Movie_2">-The Shawshank Redemption</li>
          <li id="item_6" data-id="Actor_3">--Tim Robbins</li>
          <li id="item_7" data-id="Actor_4">--Morgan Freeman</li>
          <li id="item_8" data-id="Studio_2">Paramount</li>
          <li id="item_9" data-id="Movie_3" data-str='data-toggle="tooltip" data-placement="auto" title="1987"' >-The Untouchables</li>
          <li id="item_10" data-id="Actor_1">--Robert De Niro</li>
          <li id="item_11" data-id="Actor_5">--Kevin Costner</li>
          <li id="item_12" data-id="Movie_4">-Forrest Gump</li>
          <li id="item_13" data-id="Actor_6">--Tom Hanks</li>
          <li id="item_14" data-id="Actor_7">--Robin Wright</li>
        </div> -->

        <div id="treeview_container" class="hummingbird-treeview" style="height: 300px; overflow-y: scroll; border:1px solid black;">
          <ul id="treeview" class="hummingbird-base">
            <li data-id="0">
              <i class="fa fa-plus"></i>
              <label>
                The Great Acceleration Data
                <!-- <input id="xnode-0" data-id="custom-0" type="checkbox" /> The Great Acceleration Data (October 2014) -->
              </label>
              <ul>
                {% set cnt = [1] %}  <!-- [1] instead of 1: workaround for Jinja2 scope -->
                {% for g in ["Population", "Real GDP", "FDI", "Urban population", "Fertilizer consumption",
                             "Large dams", "Water use", "Paper production", "Transportation", "Telecommunications"] %}
                  <li data-id="1">
                    <i class="fa fa-plus"></i>
                    <label>
                      <input id="xnode-0-1" data-id="custom-0-1" type="checkbox" /> {{g}}
                    </label>
                    <ul>
                      
                      {% for gg in ["OECD", "BRICS", "Rest", "World"] %}
                        <li>
                          <label>
                            <input class="hummingbird-end-node" id={{'predef' ~ cnt[0]|string}} type="checkbox" /> {{gg}}
                          </label>
                        </li>
                        {% if cnt.append(cnt.pop() + 1) %}{% endif %}  <!-- Instead of cnt=cnt+1: workaround for Jinja2 scope -->
                      {% endfor %}

                    </ul>
                  </li>
                {% endfor %}

                <li data-id="1">
                  <label>
                    <input class="hummingbird-end-node" id={{'predef' ~ cnt[0]|string}} type="checkbox" /> Primary energy use
                  </label>
                </li>                

              </ul>
            </li>
          </ul>
        </div>
    

      <h2><br>My datasets</h2>
      <div style="border:1px solid black;">
        <ul class="my_datasets_list list-group list-group-flush overflow-auto" id="datasets">

          {% for dataset in user.datasets %}
          <li class="list-group-item">

            <input type="checkbox" id="{{dataset.id}}" name="{{dataset.id}}" value="{{dataset.id}}" class="my_datasets_checkbox">
            <label for="{{dataset.id}}"> {{ dataset.label }} </label>

            <!-- {{ dataset.data }} (Added {{ dataset.date }}) 
            <button type="button" class="close" onClick="deleteNote({{ dataset.id }})">
              <span aria-hidden="true">&times;</span>
            </button>
            -->
            <div class="float-right">
              <!-- (Added {{ dataset.date }}) -->
              <a href="{{ url_for('views.view_dataset', id=dataset.id) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Details</a>
              <a href="{{ url_for('views.update_dataset', id=dataset.id) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Edit</a>
              <a href="/delete/{{dataset.id}}">&times;</a>
            </div>
          </li>
          {% endfor %}
        </ul>
        <a href="{{ url_for('views.add') }}" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">Add dataset</a>
      </div>

    </div>

    <!-- Right column -->
    <div class="col">

      <div class="row-md">
        
        <!-- <a class="btn btn-link" data-toggle="collapse" href="#control_panel" role="button" aria-expanded="false" aria-controls="control_panel">
          Control panel
        </a> -->
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#control_panel" aria-expanded="true" aria-controls="control_panel">
          <i class="fa" aria-hidden="true">&nbsp;</i>Control panel
        </button>
        
        <div class="collapse" id="control_panel">
          <div class="card card-body">

            <!-- Time unit (Auto/YBC) -->
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="time_unit">Time unit:</label>
              </div>
              <select class="custom-select" id="time_unit" onchange="toggle_time_unit_current_year()">
                <option selected value="auto">Auto</option>
                <option value="ybc">Years before current year</option>
              </select>

              <div class="input-group-prepend">
                <label class="input-group-text" for="input_current_year" id="label_current_year">Current year:</label>
              </div>
              <input type="text" class="form-control" id="input_current_year" value="2021">
            </div>

            <div class="form-check" id="log_time_div" style="margin-top:10px;">
              <input type="checkbox" class="form-check-input" id="log_time_checkbox">
              <label class="form-check-label" for="log_time_checkbox" id="label_log_time_checkbox">Time axis log scale</label>
            </div>

              <!-- <div class="input-group-text">
                <input type="checkbox" aria-label="Checkbox for following text input">
              </div> -->


            <!-- <div class="form-check">
              <input type="checkbox" class="form-check-input" id="stack_plots_checkbox">
              <label class="form-check-label" for="stack_plots_checkbox">Stack charts</label>
              <br />
              <input type="checkbox" class="form-check-input" id="foo">
              <label class="form-check-label" for="foo">Time axis log scale</label>
            </div> -->



          </div>

          <div class="card card-body">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="stack_plots_checkbox">
              <label class="form-check-label" for="stack_plots_checkbox">Stack charts</label>
            </div>
          </div>

        </div>
      </div>

      <p id="chartstack">
        <!-- <div overflow="auto" class="row-md" id="chartdiv0" style="height:100px; border: 1px solid"></div> -->
        <!-- <div overflow="auto" class="row-md" id="chartdiv2" style="height:100px; border: 1px solid">Chart 2</div> -->
      </p>
    </div>

  </div>


</div>


{% endblock %}